<h2>Registration Form</h2>
<hr/>



<div class="row">
  <div class="well col-md-8 col-md-offset-2">
    <%= simple_form_for @registrations do |f| %>
      
      <div class="row"><!-- NAME. LASTNAME, DOB -->
        
        <div class="col-md-4">
          <%= f.label :name %>
          <%= f.text_field :name, :required => true, placeholder: 'first name', error: "Can not be blank" %>
        </div>
        
        <div class="col-md-4">
          <%= f.label :last_name %>
          <%= f.text_field :last_name, :required => true, placeholder: 'last name', error: "Can not be blank" %>
        
        </div>
        
        <div class="col-md-4">
          <%= f.label :date_of_birth %>
          <%= f.text_field :date_of_birth, :required => true, placeholder: 'Your date of birth ex: DD/MM/YYYY', error: "Can not be blank" %>
        
        </div>
    
      </div><!-- NAME. LASTNAME, DOB -->
      
      <div class="row"><!-- ADDRESS/STATE/SUBURB/POSTCODE -->
      
        <div class="col-md-4">
          <%= f.label :address %>
          <%= f.text_field :address, :required => true, placeholder: 'Your primary home address', error: "Can not be blank" %>
        </div>
        
        <div class="col-md-4">
          <%= f.label :suburb %>
          <%= f.text_field :suburb, :required => true, placeholder: 'Your sub urban area', error: "Can not be blank" %>
        </div>
        
        <div class="col-md-4">
          <%= f.label :post_code %>
          <%= f.text_field :post_code, :required => true, placeholder: 'Your postal code' %>
        </div>
      
      </div><!-- ADDRESS/STATE/SUBURB/POSTCODE -->
      
      <div class="row"><!-- TELEPHONE/PRIVATE HEALTH FUND ID -->
      
        <div class="col-md-6">
          <%= f.label :telephone %>
          <%= f.text_field :telephone, placeholder: 'Mobile or landline' %>
        </div>
        
        <div class="col-md-6">
          
          <%= f.input :private_health_fund, as: :boolean, checked_value: true, unchecked_value: false, required: false %>
        </div>
        
      </div><!-- TELEPHONE/PRIVATE HEALTH FUND ID -->
      
      <div class="row">
        <div class="col-md-6">
          <%= f.label :email %>
          <%= f.email_field :email, placeholder: 'Your primary email address' %>
        </div>
        
        <div class="col-md-6">
          
          <%= f.input :news_letter, as: :boolean, checked_value: true, unchecked_value: false, required: false, 
          hint: '*Are you interested receiving newsletter and occasional massage discount offers?' %>

        </div>
        
      </div><br/>
      
      <div class="row">
        
        <div class="col-md-6 ">
          
          <%= f.input :reference, as: :check_boxes, label: 'How did you hear us?',
         collection: [
         'Drive or Walk by',
         'Gift Voucher',
         'Google search',
         'Yellow Pages',
         'Yelp',
         'Trip Advisor',
         'Start local',
         '10best',
         'Time Out',
         'Friend referral'] %>
        </div>
        
        <div class="row">
          
          <div class="col-md-6">
            <%= f.input :reference, as: :text, label: 'Other References', placeholder: 'please write any references you received about us' %>
          </div>
          
        </div>
 
      </div><br/>
      
      <div class="row">
      
        <div class="col-md-6">
          
          <%= f.input :preference, as: :check_boxes, label: 'Your preference in your massage therapy',
          collection: [
            'Quiet',
            'Treatment description',
            'Gentle Treatment'] %>
            
        </div>
        
        <div class="col-md-6">
          <%= f.input :exercise_routine, as: :select, prompt: '*Average per week', 
          collection: [
            'Never',
            'Light 1-2 times',
            'Moderate 3-4 times',
            'Competitive 5-7 times'] %>
        </div>
      
      </div><br/>
      
      <div class="row">

        <div class="col-md-6">
          
          <%= f.input :body_conditions, as: :check_boxes, label: 'Your health conditons',
           collection: [
           'Allergies/Asthma',
           'Open Wounds',
           'Numbness/Tinglint',
           'Skin Condition',
           'Headaches/Migraine',
           'Recent Illness/Surgery',
           'Varicose Veins',
           'Diabetes',
           'Osteoporosis'] %>
        </div>
        
        <div class="col-md-6">
          
          <%= f.input :body_area, as: :check_boxes, label: 'Body area you want to skip',
           collection: [
           'Face',
           'Hair/Scalp',
           'Head',
           'Chest',
           'Stomach',
           'Back',
           'Buttocks',
           'Arms',
           'Legs',
           'Hands',
           'Feet'] %>
        </div>

      </div>
      <div><hr/></div>
            
      <div class="row"><!-- OCCUPATION/EXERCISEROUTINE/CONDITIONS -->
      
        <div class="col-md-6">
          <%= f.label :occupation %>
          <%= f.text_field :occupation, placeholder: 'Current Occupation' %>
        </div>
        
        <div class="col-md-6">
          <%= f.label :past_medical_history %>
          <%= f.text_area :past_medical_history, placeholder: 'Past medical history within 5 years' %>
        </div>
        
      </div><!-- OCCUPATION/EXERCISEROUTINE/CONDITIONS -->
      
      <div class="row"><!-- PASTMEDICALHISTORY/MEDICATION/ -->
      
        <div class="col-md-6">  
          <%= f.label :medication %>
          <%= f.text_area :medication, placeholder: 'Medication history within 5 years' %>
        </div>
        
        <div class="col-md-6">
          <%= f.label :symptoms %>
          <%= f.text_area :symptoms, placeholder: 'Do you have any symptoms' %>
        </div>
      
      </div><!-- PASTMEDICALHISTORY/MEDICATION/ -->
      
      <div class="row"><!-- SYMPTOMS/OTHER EXPERIENCE -->
        
        <div class="col-md-8 col-md-offset-2">
          <%= f.label :other_experience %>
          <%= f.text_area :other_experience, placeholder: 'Do you have other experience regarding massage therapy' %>
        </div>
      
      </div><!-- SYMPTOMS/OTHER EXPERIENCE -->
      
      <div class="row">
        
        <div class="col-md-8 col-md-offset-2">
          <%= f.label :terms_of_service %>
          <h6><strong>Arrival Time</strong></h6>
          <p>Please arrive at least 10 minutes before your treatment. New clients will be asked to fill out a record form.</p>
          <h6><strong>Arriving Late</strong></h6>
          <p>All treatments conclude at the scheduled time.</p>
          <h6><strong>Cancellation Policy</strong></h6>
          <p>When you reschedule or cancel an appointment, we require 24 hours notice;
          cancellation without notice will incur a cancellation fee of $30. 
          Confirmation of an appointment is acknowledgement of this cancellation policy.</p>

        </div>
      
      </div>
      
      <div class="row">
      
        <div class="col-md-8 col-md-offset-2">
          <%= f.input :terms_of_service, as: :boolean, checked_value: true, unchecked_value: false, label: 'I Agree with T.O.S', 
          hint: 'By checking the checkbox and click the submit button I agree with Terms of Service of Stable Massage.' %>
        </div>
      </div>
      
      <%= f.submit 'Submit', class: "btn btn-success" %>
    
    <% end %>
  
  
  </div><!-- WELL -->
  
</div><br><!-- row -->
<br>
<hr/>